html {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 100%;
}
a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
:root {
  --ff-heading: "Secular One", sans-serif;
  --ff-subheading: "Ubuntu", sans-serif;
  --ff-primary: "Poppins", sans-serif;

  --bg-clr: #171721;
  --white-900: #fff;
  --white-850: rgba(255, 255, 255, 0.9);
}

/*** Welcome Screen ***/
.container {
  height: 100vh;
  min-width: 100%;
  background: linear-gradient(
      180deg,
      rgba(30, 30, 30, 0.53) 0%,
      rgba(81, 81, 81, 0.26) 48.96%,
      rgba(38, 38, 38, 0.15) 100%
    ),
    url("./images/hero-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.logo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 2em;
}
.main-heading {
  font-family: var(--ff-heading);
  font-size: 2.6rem;
  font-weight: normal;
  color: var(--white-900);
  margin-top: -0.5em;
  letter-spacing: 0.75px;
}
.sub-heading h2 {
  margin-top: 10em;
  font-family: var(--ff-subheading);
  font-size: 2.2rem;
  font-weight: 300;
  color: var(--white-850);
  text-align: center;
  background: rgba(0, 0, 0, 0.65);
  padding: 1em 2em;
}
.ctns {
  font-family: var(--ff-primary);
  text-align: center;
}
.btn {
  display: flex;
  justify-content: space-between;
  padding: 0 4em;
  margin-top: 4em;
  margin-bottom: 2em;
}
.btn a {
  font-size: 2rem;
  color: var(--white-900);
  border-radius: 6px;
  padding: 0.25em 1.15em;
}
.btn .login {
  background: var(--bg-clr);
}
.btn .register {
  background: var(--white-900);
  color: var(--bg-clr);
}
.ctns .join {
  font-size: 1.8rem;
  color: var(--white-900);
  background: var(--bg-clr);
  border-radius: 6px;
  padding: 0.25em 1.15em;
}
